$colors {
  --primary-blue: #071330;
  --secondary-blue: #3D55F9;
  --tertiary-blue: #07133099;
  --primary-white: #FFFFFF;
  --primary-brown: #F0BCA3;
  --primary-grey:#07133080;
};

$font-weight: {
'light' : 300,
'regular' : 400,
'bold' : 700,
'extrabold': 900
};