.footer {
    padding-top: 50px;
    padding-bottom: 100px;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__text {
    width: 30%;
    font-size: 1.4rem;
    line-height: calc(17 / 14);
    color: var(--primary-grey);
}

.footer__list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__link {
    font-size: 1.6rem;
    line-height: calc(18 / 16);
    color: var(--primary-grey);
}
