.options {
    padding-top: 150px;
    padding-bottom: 100px;
}

.options__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options__title {
    text-align: center;
    width: 64%;
    margin-bottom: 60px;
}

.options__list {
    counter-reset: item;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.options__item {
    counter-increment: item;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.options__item-wrapper-content {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.options__item-wrapper-content::before {
    content: counter(item);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background-color: var(--secondary-blue);
    border-radius: 50%;
    font-size: 2rem;
    line-height: calc(32 / 20);
    color: var(--primary-white);
    text-align: center;
    margin-bottom: 20px;
}

.options__subtitle {
    font-size: 2rem;
    line-height: calc(32 / 20);
    color: var(--primary-blue);
    margin-bottom: 20px;
}

.options__text {
    font-size: 1.8rem;
    line-height: calc(32 / 18);
    color: var(--tertiary-blue);
}



