@mixin title() {
    font-size: 4rem;
    line-height: calc(47 / 40);
}

@mixin subtitle() {
    font-size: 1.6rem;
    line-height: calc(20 / 16);
}

@mixin small-subtitle() {
    font-size: 1.6rem;
    line-height: calc(19 / 16);
}