@mixin text() {
    font-size: 1.8rem;
    line-height: calc(32 / 18);
}

@mixin media-text() {
    font-size: 2rem;
    line-height: calc(32 / 20);
}

@mixin small-text() {
    font-size: 1.6rem;
    line-height: calc(18 / 16);
}
